<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lista de Ejercicios</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <div id="listaejercicios">
            <div class="diaSemana"><button class="botonSemana" type="button">LUNES</button></div>
            <div class="diaSemana"><button class="botonSemana" type="button">MARTES</button></div>
            <div class="diaSemana"><button class="botonSemana" type="button">MIÉRCOLES</button></div>
            <div class="diaSemana"><button class="botonSemana" type="button">JUEVES</button></div>
            <div class="diaSemana"><button class="botonSemana" type="button">VIERNES</button></div>
        </div>
    </body>
</html>