html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    background-color: none;
    color: black;
}

input[type=submit], .botonSemana, .botonEnviar {

    color: black;
    font-weight: bold;
    background-color: #359B8A;
    padding: 6% 12%;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 15px;
}

.tituloLista p {
  font-weight: bold;
  font-size: 125%;
}

textarea {
  margin: 0px;
  width: 100%;
  height: 5em;
}

.diaSemana {
    padding: 2%;
}

.idFormularioCrearEjercicio, .idFormularioCrearGrupo,
.listaejercicios, .loginFacilitador,
.loginPersonas, .principal,
.principalAdministracion, .principalProfesores,
.principalPersonas {

    width: 20%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top: 4%;
    margin-left: 35%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#addejercicio, #addgrupo, #loginFacilitador {
    text-align: center;
}

#atajo {
    font-size: 80%;
}

.listajercicios {
    display: grid;
    grid-template-columns: auto auto;
}

.logo {
  padding-top: 1%;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
    height: 30%;
  width: 30%;
}

.botonEjercicioPersona, .botonAdiosPersona, .botonLoginPersona {
  font-weight: bold;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
}

.botonEjercicioPersona a, .botonLoginPersona {
  font-size: 200%;
  border: 4px solid black;
  border-radius: 25px;
  padding-bottom: 6%;
  display: block;
  background-color: #359B8A;
  margin-bottom: 5%;
}

.botonAdiosPersona a {
  font-size: 200%;
  border: 4px solid black;
  border-radius: 25px;
  padding-bottom: 6%;
  display: block;
  background-color: #F88686;
  margin-bottom: 5%;
}

.botonEjercicioPersona p, .botonAdiosPersona p, .botonLoginPersona p {
  width: 100%;
}

.botonEjercicioPersona img, .botonAdiosPersona img, .botonLoginPersona img {
  width: 60%;
}

.botonesPrincipales {
  font-weight: bold;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.botonesPrincipales a {
  border: 2px solid black;
  border-radius: 15px;
  display: block;
  background-color: #359B8A;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 8%;
}

.botonFacilitadores {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #75CDF7;
}

#botonAdmin {
  background-color: #9286F8;
}

#botonFaci {
  background-color: #75CDF7;
}

.botonFacilitadores a {
  height: 7%;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 4%;
}

.botonAdministracion {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #9286F8;
}

.botonAdministracion a {
  height: 7%;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 4%;
}

#botonSalir {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  background-color: #F88686 !important;
}

#botonSalir a {
  border: 2px solid #82B366;
  border-radius: 10px;
  height: 4%;
  display: block;
}

.botonAtras {
  border: 2px solid #82B366;
  border-radius: 10px;
  height: 4rem;
  width: 30%;
  display: block;
  background-color: #D5E8D4;
  max-height: 20%;
  margin-top: 1rem;
}

.botonAtras a{
  height: 100%;
  display: block;
  background-color: #D5E8D4;
}

.imagenBoton{
  position: relative;
  height: 100%;
}

.botonSalirUsuario {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  text-align: center;
  font-size: 200%;
  border: 4px solid black;
  border-radius: 25px;
  padding-bottom: 6%;
  display: block;
  background-color: #359B8A;
  margin-bottom: 5%;
}

.botonSalirUsuario a{
  font-size: 150%;
  border: 4px solid #82B366;
  border-radius: 10px;
  display: block;
  background-color: #D5E8D4;
  margin-bottom: 1%;
}

.botonSalirUsuario img{
  width: 35%;
}

.listadoEjerciciosSemana {
  margin-left: 5%;
}

.listadoEjerciciosSemana img {
  padding-top: 0.25rem;
}

.titulo {
  font-weight: bold;
  text-align: center;
}

.titulo h1{
  font-size: 170%;
}

.botonesLoginPersonas {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-content: center;
}

.filaBotonesLoginPersonas {
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: space-between;
}

.pictogramaLoginPersonas {
  box-sizing: border-box;
  border: 2px solid black;
  margin: 1%;
}

.pictogramaLoginPersonas img {
  max-width: 70%;
  position: relative;
}

.pictogramaContraseñaPersonas img {
  max-width: 70%;
  position: relative;
}

.pictogramaLoginPersonas img:hover {
  opacity: 0.3;
}

.botonEliminarPictogramas {
  color: black;
  font-weight: bold;
  background-color: #F88686;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 80%;
}

.botonEliminarPictogramas img{
  width: 20%;
}

.botonConectarPersona {
  color: black;
  font-weight: bold;
  background-color: #75CDF7;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 80%;
}

.botonConectarPersona img{
  width: 20%;
}

.contenedorListaCheckbox {
  display: flex;
  flex-flow: column nowrap;
}

.listaCheckbox {
  position:relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  left: 1rem;
  text-align: justify;
}

.listaCheckbox input {
  display: inline;
  margin-right: 2%;
  margin-top: 2%;
  height: 1.5em;
  width: 1.5em;
}

.listaCheckbox input[type=image] {
  float: right;
}

.listaCheckbox input[type=date] {
  width: 10em;
}

.inputTitulo {
  width: 80%;
}

.listaCheckbox p {
  font-weight: bold;
  font-size: 125%;
}

.listaCheckbox div {
  width: 100%;
}

.error {
  color: red;
  background-color: lightcoral;
  border: 2px solid red;
  border-radius: 15px;
}

.ejerciciosAsignados {
  color: #359B8A;
  background-color: mintcream;
  border: 2px solid#359B8A;
  border-radius: 15px;
}

.reiniciarBoton {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.botonDiaSemana {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #359B8A;
  width: 90%;
  height: 30%;
  margin-top: 1rem;
}

.tituloDiaSemana {
  padding: 1rem 0;
  margin-right: 1rem;
}

.imagenDiaSemana {
  width: 20%;
}

.previewEjercicio {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #359B8A;
  margin-top: 1.5rem;
}

.imagenPreviewEjercicio {
  width: 40%;
  margin-top: 1rem;
}

.tituloPreviewEjercicio {
  color: black;
  font-weight: bold;
  font-size: 110%;
}

.imagenDefectoPreviewEjercicio {
  width: 60%;
}

.botonChat {
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #75CDF7;
  width: 45%;
  height: 50%;
  cursor: pointer;
}

.imagenChat {
  width: 45%;
}

.inputArchivo {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.etiquetaArchivo {
  font-size: 0.8em;
  background-color: #F7B75A;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1.3em;
  cursor: pointer;
  display: inline-block;
  margin-top: 1em;
  width: 35%;
  font-weight: bold;
}

/* INICIO de Clases para el CHAT */

.contenedorMensajes {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid #359B8A;
  border-radius: 15px;
  margin-top: 1.5rem;
}

.mensajeIzq {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 1rem;
}

.mensajeDer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 1rem;
}

.mensaje {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
}

.enviado {
  background-color: #359B8A;
  border-radius: 15px;
  text-align: right;
  padding: 1rem;
}

.recibido {
  background-color: #75CDF7;
  border-radius: 15px;
  text-align: left;
  padding: 1rem;
}

.cabeceraMensaje {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border-bottom: 2px solid grey;
}

.nombreMensaje {
  margin: 0 1rem 0 0;
}

.fechaMensaje {
  font-weight: normal;
  margin: 0;
}

.textoMensaje {
  margin: 1rem 0 0 0;
}

.contenedorBotonesSubidaChat {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.botonSubidaChat {
  width: 30%;
  border-radius: 15px;
}

.botonSubidaChat img {
  width: 100%;
}

.botonCamaraChat {
  background-color: coral;
}

.botonMicrofonoChat {
  background-color: #75CDF7;
}

.botonTextoChat {
  background-color: #359B8A;
}

.escribirTextoChat {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: none;
  width: 100%;
  border-radius: 15px;
  padding: 0.3rem;
  margin-top: 1rem;
}

.enviarMensaje {
  display: none;
  width: 100%;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #D5E8D4;
}

.enviarMensaje img {
  width: 10%;
}

/* FIN de clases para el CHAT */

/*CSS relativo a las estrellas de la valoracion*/
/**********************************************************/
.estrellas {
  margin: 0 auto;
}

.estrellas p {
  text-align: center;
}

input[type="radio"] {
  display: none;
}

span {
  color: grey;
  font-size: 3em !important;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


input[type="radio"]:checked ~ span {
  color: orange;
}

/********************************************************/

@media screen and (max-width: 1100px) {
  input[type=submit] {
      padding: 3% 6%;
      width: 40%;
    }

  .botonChat {
    width: 40%;
  }

  hr {
    margin-right: 5%;
  }

  .listaCheckbox input {
    margin-right: 2em;
  }

  .idFormularioCrearEjercicio {
      width: 90%;
      margin-left: 3%;
  }

  .idFormularioCrearGrupo {
      width: 90%;
      margin-left: 3%;
  }

  .loginFacilitador {
      font-weight: bold;
      width: 90%;
      margin-left: 3%;
  }

  .loginPersonas {
    font-weight: bold;
    width: 90%;
    margin-left: 3%;
  }

  .principal {
    width: 90%;
    margin-left: 3%;
  }

  .principalAdministracion {
    width: 90%;
    margin-left: 3%;
  }

  .principalProfesores {
    width: 90%;
    margin-left: 3%;
  }

  .principalPersonas {
    width: 90%;
    margin-left: 3%;
  }

  .listaejercicios {
    width: 90%;
    margin-left: 3%;
  }

  #atajo {
      visibility: hidden;
  }

  .botonesPrincipales a {
    padding: 5%;
    margin: 5% 0;
  }

  #botonSalir a {
    padding: 5%;
  }

  .botonesLoginPersonas {
    width: 100%;
  }

  .filaBotonesLoginPersonas {
    width: 100%;
  }

  .pictogramaLoginPersonas img {
    width: 100%;
  }

  .pictogramaContraseñaPersonas img {
    width: 100%;
  }

  .botonEliminarPictogramas {
    width: 60%;
  }

  .botonConectarPersona {
    width: 60%;
  }

  .listadoEjerciciosSemana p {
    font-size: 2.5rem;
  }

  .listadoEjerciciosSemana img {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
    input[type=submit] {
      padding: 8% 1%;
      width: 45%;
  }

  .botonChat {
    width: 45%;
  }

    .idFormularioCrearEjercicio {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    hr {
      margin-right: 10%;
    }

    .listaCheckbox input {
      margin-right: 1.5em;
    }

    .idFormularioCrearGrupo {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .loginFacilitador {
      font-weight: bold;
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .loginPersonas {
      font-weight: bold;
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principal {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalAdministracion {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalProfesores {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalPersonas {
      padding-bottom: 7%;
    }

    .listaejercicios {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    #atajo {
        visibility: hidden;
    }

    .botonesPrincipales a {
      font-weight: bold;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 5%;
    }

    #botonSalir {
      font-weight: bold;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 5%;
    }

    .botonesLoginPersonas {
      width: 100%;
    }

    .filaBotonesLoginPersonas {
      width: 100%;
    }

    .pictogramaLoginPersonas img {
      width: 100%;
    }

    .pictogramaContraseñaPersonas img {
      width: 100%;
    }

    .botonEliminarPictogramas {
      width: 60%;
    }

    .botonConectarPersona {
      width: 60%;
    }

    .listadoEjerciciosSemana p {
      font-size: 1.5rem;
    }

    .listadoEjerciciosSemana img {
      padding-top: 1.5rem;
    }
}
