html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    background-color: none;
    color: black;
}

input[type=submit], .botonSemana, .botonEnviar {
    background-color: none;
    color: black;
    font-weight: bold;
    background-color: #359B8A;
    padding: 6% 12%;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
}

.diaSemana {
    padding: 2%;
}

.idFormularioCrearEjercicio, .idFormularioCrearGrupo,
.listaejercicios, .loginFacilitador,
.loginPersonas, .principal,
.principalAdministracion, .principalProfesores,
.principalPersonas {
    font-weight: bold;
    width: 20%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top: 6%;
    margin-left: 35%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#addejercicio, #addgrupo, #loginFacilitador {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

#atajo {
    font-size: 80%;
}

.listajercicios {
    display: grid;
    grid-template-columns: auto auto;
}

.logo {
  padding-top: 1%;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
    height: 30%;
  width: 30%;
}

.botonesPrincipalesUsuario{
  font-weight: bold;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
}

.botonesPrincipalesUsuario a{
  font-size: 200%;
  border: 4px solid black;
  border-radius: 25px;
  padding-bottom: 6%;
  display: block;
  background-color: #359B8A;
  margin-bottom: 5%;
}

.botonesPrincipalesUsuario p{
  width: 100%;
}

.botonesPrincipalesUsuario img{
  width: 60%;
}

.botonesPrincipales {
  font-weight: bold;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.botonesPrincipales a {
  border: 2px solid black;
  border-radius: 15px;
  height: 7%;
  display: block;
  background-color: #359B8A;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 4%;
}

.botonInicial {
  font-weight: bold;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.botonInicial a {
  border: 2px solid black;
  border-radius: 15px;
  height: 7%;
  display: block;
  background-color: #359B8A;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 4%;
}

.botonSalir {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: center;
}

.botonSalir a{
  border: 2px solid #82B366;
  border-radius: 10px;
  height: 4%;
  display: block;
  background-color: #D5E8D4;
}

.botonAtras {
  border: 2px solid #82B366;
  border-radius: 10px;
  height: 4rem;
  width: 30%;
  display: block;
  background-color: #D5E8D4;
  max-height: 20%;
  margin-top: 1rem;
}

.botonAtras a{
  height: 100%;
  display: block;
  background-color: #D5E8D4;
}

.imagenBoton{
  position: relative;
  height: 100%;
}

.botonSalirUsuario {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  text-align: center;
  font-size: 200%;
  border: 4px solid black;
  border-radius: 25px;
  padding-bottom: 6%;
  display: block;
  background-color: #359B8A;
  margin-bottom: 5%;
}

.botonSalirUsuario a{
  font-size: 150%;
  border: 4px solid #82B366;
  border-radius: 10px;
  display: block;
  background-color: #D5E8D4;
  margin-bottom: 1%;
}

.botonSalirUsuario p{
}

.botonSalirUsuario img{
  width: 35%;
}

.titulo {
  font-weight: bold;
  text-align: center;
}

.titulo h1{
  font-size: 170%;
}

.botonesLoginPersonas {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-content: center;
}

.filaBotonesLoginPersonas {
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: space-between;
}

.pictogramaLoginPersonas {
  box-sizing: border-box;
  border: 2px solid black;
  margin: 1%;
}

.pictogramaLoginPersonas img {
  max-width: 70%;
  position: relative;
}

.pictogramaContraseñaPersonas img {
  max-width: 70%;
  position: relative;
}

.pictogramaLoginPersonas img:hover {
  opacity: 0.3;
}

.botonEliminarPictogramas {
  background-color: none;
    color: black;
    font-weight: bold;
    background-color: #359B8A;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 5%;
    width: 80%;
}

.botonEliminarPictogramas img{
  width: 20%;
}

.contenedorListaCheckbox {
  display: flex;
  flex-flow: column nowrap;
}

.listaCheckbox {
  position:relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  left: 1rem;
}

@media screen and (max-width: 1100px) {
  input[type=submit] {
      padding: 3% 6%;
  }

  .idFormularioCrearEjercicio {
      width: 90%;
      margin-left: 3%;
  }

  .idFormularioCrearGrupo {
      width: 90%;
      margin-left: 3%;
  }

  .loginFacilitador {
      font-weight: bold;
      width: 90%;
      margin-left: 3%;
  }

  .loginPersonas {
    font-weight: bold;
    width: 90%;
    margin-left: 3%;
  }

  .principal {
    width: 90%;
    margin-left: 3%;
  }

  .principalAdministracion {
    width: 90%;
    margin-left: 3%;
  }

  .principalProfesores {
    width: 90%;
    margin-left: 3%;
  }

  .principalPersonas {
    width: 90%;
    margin-left: 3%;
  }

  #atajo {
      visibility: hidden;
  }

  .botonesPrincipales a {
    width: 95%;
    padding: 5%;
    margin: 5% 0;
  }

  .botonSalir a {
    width: 95%;
    padding: 5%;
  }

  .botonesLoginPersonas {
    width: 100%;
  }

  .filaBotonesLoginPersonas {
    width: 100%;
  }

  .pictogramaLoginPersonas img {
    width: 100%;
  }

  .pictogramaContraseñaPersonas img {
    width: 100%;
  }

  .pictogramaLoginPersonas:hover {
    width: 100%;
  }

  .botonEliminarPictogramas {
    width: 40%;
  }

  .botonConectarPersona {
    font-size: xx-large;
  }
}

@media screen and (max-width: 500px) {
    input[type=submit] {
        padding: 8% 14%;
    }

    .idFormularioCrearEjercicio {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .idFormularioCrearGrupo {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .loginFacilitador {
      font-weight: bold;
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .loginPersonas {
      font-weight: bold;
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principal {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalAdministracion {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalProfesores {
      padding-top: 7%;
      padding-bottom: 7%;
    }

    .principalPersonas {
      padding-bottom: 7%;
    }

    #atajo {
        visibility: hidden;
    }

    .botonesPrincipales a {
      font-weight: bold;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      text-align: center;
      padding: 5%;
    }

    .botonSalir a {
      width: 95%;
      padding: 5%;
    }

    .botonesLoginPersonas {
      width: 100%;
    }

    .filaBotonesLoginPersonas {
      width: 100%;
    }

    .pictogramaLoginPersonas img {
      width: 100%;
    }

    .pictogramaContraseñaPersonas img {
      width: 100%;
    }


    .pictogramaLoginPersonas:hover {
      width: 100%;
    }

    .botonEliminarPictogramas {
      width: 40%;
    }

    .botonConectarPersona {
      font-size: xx-large;
    }
}
