{% extends "base.html" %}

{% block titulo %}
<title>Gestión de {{ tipoUsuario }}</title>
{% endblock %}

{% block body %}
<div class="contenedorListaCheckbox">
    <form action="{{ lista.accionCheckbox }}" method="post"  enctype="{{ lista.encCheckbox }}">
        <div class="tituloLista">
            <p>Lista de {{ tipoUsuario }}es</p>
        </div>

        <div class="listaCheckbox">
           
            {% if tipoUsuario == "Facilitador" %}
                {% for elemento in lista %}
                    <div>
                        <input type="hidden" name="id" value="{{ elemento.idFacilitador }}">
                        <input type=image src="templates/img/pencil.png" formaction="modificarUsuario.php?tipoUsuario=Facilitador&id={{elemento.idFacilitador}}">
                        <input type=image src="templates/img/borrar.png" formaction="eliminarUsuario.php?tipoUsuario=Facilitador&id={{elemento.idFacilitador}}">
                        <label name="elemnto"> Nombre: {{ elemento.nombreFacilitador }} Telefono: {{ elemento.telefono }}  </label> <br>
                    </div>
                {% endfor %}
            {%endif%}

            {% if tipoUsuario == "Administrador" %}
                {% for elemento in lista %}
                    <div>
                        <input type="hidden" name="id" value="{{ elemento.idAdministrador }}">
                        <input type=image src="templates/img/pencil.png" formaction="modificarUsuario.php?tipoUsuario=Administrador&id={{elemento.idAdministrador}}">
                        <input type=image src="templates/img/borrar.png" formaction="eliminarUsuario.php?tipoUsuario=Administrador&id={{elemento.idAdministrador}}">
                        <label name="elemnto"> Nombre: {{ elemento.nombre }} Telefono: {{ elemento.telefono }}  </label> <br>
                    </div>
                {% endfor %}
            {%endif%}

            {% if tipoUsuario == "Persona" %}
                {% for elemento in lista %}
                    <div>
                        <input type="hidden" name="id" value="{{ elemento.idPersona }}">
                        <input type=image src="templates/img/pencil.png" formaction="modificarUsuario.php?tipoUsuario=Persona&id={{elemento.idPersona}}">
                        <input type=image src="templates/img/borrar.png" formaction="eliminarUsuario.php?tipoUsuario=Persona&id={{elemento.idPersona}}">
                        <label name="elemnto"> Nombre: {{ elemento.nombre }} Telefono: {{ elemento.tlfPersona }}  </label> <br>
                    </div>
                {% endfor %}
            {%endif%}
        </div>
    </form>
</div>

<hr/>

<div class="botonesPrincipales">
    <a href="registro.php?tipoUsuario={{ tipoUsuario }}" class="button">Registrar nuevo {{ tipoUsuario }}</a>
</div>

{% endblock %}