{% extends "base.html" %}

{% block body %}
  <div class="titulo">
    <h1>Asignar Ejercicios</h1>
  </div>

  {% block errores %}
    {% embed "errores.html" %}{% endembed %}
  {% endblock errores %}

  {% if exito is null %}

    {% if tipoLista == "ejercicios" %}
      {% embed "listaEjerciciosCheckbox.html" %}
      {% endembed %}
    {% elseif tipoLista == "personas" %}
      {% embed "listaPersonasCheckbox.html" %}
      {% endembed %}
      <br/>
      {% embed "listaGruposCheckbox.html" with {'lista': listaGrupos} %}
      {% endembed %}
    {% endif %}

  {% else %}

    <div class="ejerciciosAsignados">
      <p>Ejercicios asignados correctamente. Puede volver atrás.</p>
    </div>

  {% endif %}

{% endblock body %}

{% block postScripts %}
<script type="text/javascript" src="templates/js/asignarEjercicios.js"></script>
{% endblock postScripts %}
