<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block titulo %}
    <title>Principal VALE</title>
    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
    {% block estilos %}
    {% endblock %}
    {% block preScripts %}
    {% endblock %}
  </head>

  <body>
    {% block divClass %}
    <div class="principal">
    {% endblock %}
      {% if botonAtras %}
        <button class="botonAtras">
          <a href="{{ paginaAnterior }}">
            <img src="templates/img/caminar hacia atrás.png" alt="Volver atrás" class="imagenBoton" />
          </a>
        </button>
      {% endif %}

      {% block body %}
        {% block errores %}
        {% endblock %}
      {% endblock %}
    </div>
  </body>

  {% block postScripts %}
  {% endblock %}

</html>
