{% if mensajes|length > 0 %}
    {% for mensaje in mensajes %}
        <div class="mensaje{{ mensaje.emisor.tipo == usuarioActual.tipo ? 'Der' : 'Izq' }}">
            <div class="mensaje {{ mensaje.emisor.tipo == usuarioActual.tipo ? 'enviado' : 'recibido' }}">
                <div class="cabeceraMensaje">
                    <p class="nombreMensaje">{{ mensaje.emisor.nombre }}</p>
                    <p class="fechaMensaje">{{ mensaje.fechaEmision }}</p>
                </div>
                <div class="contenidoMensaje">
                    {% if mensaje.tipo == 'texto' %}
                    <p class="textoMensaje">{{ mensaje.contenido }}</p>
                    {% elseif mensaje.tipo == 'audio' %}
                    <div class="audioMensaje">Aquí va un audio con esta ruta {{ mensaje.contenido }}</div>
                    {% elseif mensaje.tipo == 'video' %}
                    <div class="audioMensaje">Aquí va un vídeo con esta ruta {{ mensaje.contenido }}</div>
                    {% else %}
                    <p>Error al cargar el mensaje</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No hay mensajes</p>
{% endif %}
