{% extends "base.html" %}

{% block titulo %}
  <title>Facilitadores - Lista de Ejercicios</title>
{% endblock %}

{% block divClass %}
<div class="listaejercicios">
{% endblock %}

{% block body %}
<div class="titulo">
  <h1>CORREGIR EJERCICIO</h1>
</div>

<div class="ejercicio">
  <p><strong>Título del ejercicio: </strong><em>{{ enunciado.titulo }}</em></p>
  <p><strong>Realizado por: </strong><em>{{ autor.nombre }}</em></p>
  <p><strong>Resuelto el día: </strong><em>{{ ejercicio['fechaResolucion']|date("d/m/Y") }}</em></p>
  <p><strong>Asignado el día: </strong><em>{{ ejercicio['fechaResolucion']|date("d/m/Y") }}</em></p>
  <p><strong>Texto de resolución: </strong><em>{{ ejercicio['texto'] }}</em></p>
  <p><strong>Valoración de la Persona al ejercicio: </strong><em>{{ ejercicio['valoracionPersona'] }}</em></p>
  <p><strong>Archivo Adjunto: </strong></p>

  {% if ejercicio['archivoAdjuntoSolucion'] is defined %}
    {% if ejercicio['archivoAdjuntoSolucion'] ends with '.png' or ejercicio['archivoAdjuntoSolucion'] ends with '.jpg' or ejercicio['archivoAdjuntoSolucion'] ends with '.jpeg' %}
      <p><img src="{{ ejercicio['archivoAdjuntoSolucion'] }}" alt="Fotografía de la resolución" width="35%" height="35%"></p>
    {% elseif ejercicio['archivoAdjuntoSolucion'] ends with '.mp4' %}
    <video width="75%" height="75%" controls>
      <source src="{{ ejercicio['archivoAdjuntoSolucion'] }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}
  {% endif %}
</div>

<hr>

<div class="formularioCorreccion">
<form action="corregirEjercicio.php?corregido=true&idEjercicio={{ idEjercicio }}&idPersona={{ idPersona }}" method="post" id="correccion" enctype="multipart/form-data">
    <label for="comentario">Comentario</label><br>
    <textarea name="comentario" form="correccion" required></textarea><br><br>

    <label for="valoracion">Valoración (entre 0 y 5):</label><br>
    <input type="range" form="correccion" name="valoracion" min="0" max="5"><br><br>
    <!-- Añadir JS para que muestre el valor actual del rango -->

    <label for="multimedia">Imagen o vídeo explicativo</label><br>
    <input type="file" name="multimedia" /><br><br>
    <input type="submit" value="CORREGIR" />
</form>
</div>
{% endblock %}