{% extends "base.html" %}

{% block titulo %}
    <title>Crear Ejercicio</title>
{% endblock %}

{% block divClass %}
<div class="idFormularioCrearEjercicio">
{% endblock %}

{% block body %}
<div class="Titulo">
    <h1>Crear ejercicio</h1>
</div>

{% if mostrarResultado %}
{% if res %}
<div class="Titulo">
  <h4 style="color: Green">Ejercicio creado correctamente</h4>
</div>
{% else %}
<div class="Titulo">
  <h4 style="color: Red">Ejercicio incorrecto</h4>
</div>
{% endif %}
{% endif %}

<form method="post" id="addejercicio" enctype="multipart/form-data">
    Titulo del Ejercicio<br> <input type="text" name="titulo" required/><br><br>
    Descripción<br> <textarea name="descripcion" form="addejercicio" required></textarea><br><br>
    Imagen<br> <input type="file" name="imagen" accept=".jpg,.jpeg,.png" required/><br><br>
    Vídeo o audio explicativo<br> <input type="file" name="multimedia" accept=".avi,.mov,.flv,.mp4,.mkv,.wmv,.mp3,.wav,.aiff,.wma,.flac"/><br><br>
    <input type="submit" value="CREAR EJERCICIO" />
</form>
{% endblock %}
