{% extends "base.html" %}

{% block titulo %}
<title>Gestionar Grupos</title>
{% endblock %}

{% block divClass %}
<div class="idFormularioCrearGrupo"></div>
{% endblock %}

{% block body %}

<div class="Titulo">
    <h1>Crear grupo</h1>
</div>

{% if seleccionMiembros %}
  {% embed "listaPersonasCheckbox.html" %}
  {% endembed %}
{% else %}
<form method="post" id="addgrupo" enctype="multipart/form-data">
  Nombre del Grupo<br> <input id="nombre" type="text" name="nombre" required/><br><br>
  <input type="submit" value="CREAR GRUPO" />
</form>
{% endif %}


{% endblock body %}
