{% block listaPersonas %}

<div class="contenedorListaPersonasCheckbox">
    <form action="asignarEjercicio.php" method="post" id="asignarEjercicio" enctype="multipart/form-data"></form>
        <div class="listaPersonasCheckbox">
            <div class="tituloListaPersonas">
                <p>Personas</p>
            </div>


                <div>
                    <input type="checkbox" id="persona0" name="persona0" value="persona0">
                    <label for="persona0"> Benito Rosales Jiménez</label><br>
                </div>
                <div>
                    <input type="checkbox" id="persona1" name="persona1" value="persona1">
                    <label for="persona1"> Lucas El Pato González</label><br>
                </div>
                <div>
                    <input type="checkbox" id="persona2" name="persona2" value="persona2">
                    <label for="persona2"> Lorena Trujillos Yévenez</label><br>
                </div>
                <div>
                    <input type="checkbox" id="persona3" name="persona3" value="persona3">
                    <label for="persona3"> Adrián Julián de los Ríos Martín de Villodres</label><br>
                </div>
        </div>
        <input type="submit" value="ASIGNAR EJERCICIO" />
    </form>
</div>

{% endblock listaPersonas %}
