<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lista de Ejercicios</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./templates/css/styles.css">
    </head>

    <body>
        <div class="listaejercicios">
            <!-- Aquí va un for en Twig -->
            <div class="ejercicio">
                <p></p>
            </div>
        </div>
    </body>
</html>
