<!DOCTYPE html>
<html>
<title>Login Facilitador</title>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body style="align-items:center">

  <div class="general">

    <div class=division>
      <img src="./img/descarga.png" alt="Logo VALE">
    </div>

    <div class="division">
      <h1>Usuario</h1>

      <input type="text">

      <h1>Contraseña</h1>

      <input type="text">
    </div>

    <div class="division">
      <button>
        <div style="text-align:center">
          <span>Conectar</span>
        </div>
      </button>
    </div>

  </div>

</body>
</html>
