<!DOCTYPE html>
<html>
<title>Login Facilitador</title>
<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body style="align-items:center">

  <div class="loginFacilitador">

    <div class=division>
      <img src="../img/logo.jpeg" alt="Logo VALE">
    </div>

      <form action="loginFacilitador.php" method="post" id="loginFacilitador" enctype="multipart/form-data">
                Usuario<br> <input type="text" name="usuario" required/><br><br>
                Contraseña<br> <input type="password" name="contraseña" required/><br><br>
                <input type="submit" value="CONECTAR" />
        </form>

  </div>

</body>
</html>
