<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Facilitadores</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
  </head>

  <body>
    <div class="loginFacilitador">
      <div class="Titulo">
        <h1>Login Facilitadores</h1>
      </div>

        <form action="loginFacilitador.php" method="post" id="loginFacilitador" enctype="multipart/form-data">
          Usuario<br> <input type="text" name="usuario" required/><br><br>
          Contraseña<br> <input type="password" name="contraseña" required/><br><br>
          <input type="submit" value="CONECTAR FACILITADOR" />
        </form>
    </div>
  </body>
</html>
