<!DOCTYPE html>
<html>
<title>Login Personas</title>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body style="align-items:center">

  <div class="principal">

    <div class="division">
      <h1>Usuario</h1>
    </div>

    <div class="division">
      <button>
        <div style="text-align:center">
          <img src="./img/descarga.png" alt="Logo VALE">
          <br>
          <span>Entrar</span>
        </div>
      </button>
    </div>

  </div>
</body>
</htm>
