<!DOCTYPE html>
<html>
<title>Login Personas</title>
<head>
  <link rel="stylesheet" href="./templates/css/styles.css">
</head>
<body style="align-items:center">

  <div class="loginPersonas">

    <div>
      <h1>Usuario</h1>
    </div>

    <div>
      <button>
        <div style="text-align:center">
          <img src="./templates/img/logo.jpeg" alt="Logo VALE">
          <br>
          <form action="principalPersonas.php" method="post" id="loginFacilitador" enctype="multipart/form-data">
            <input type="submit" value="CONECTAR PERSONA" />
          </form>
        </div>
      </button>
    </div>

  </div>
</body>
</htm>
