{% extends "base.html" %}

{% block titulo %}
<title>Modificar datos {{ tipoUsuario }}</title>
{% endblock %}

{% block body %}
<div class="Titulo">
    <h1>Modificar {{ tipoUsuario }}</h1>
</div>

<form action="modificarUsuario.php" method="post" id="loginFacilitador" enctype="multipart/form-data">
    Nombre<br> <input type="text" name="usuario" value="{{ nombre }}" required/><br><br>
    Contraseña<br> <input type="password" name="contraseña" placeholder="Sólo si quieres cambiarla"/><br><br>
    Teléfono<br> <input type="text" name="telefono" value="{{ telefono }}" required/><br><br>
    <input type="submit" name="submit" value="Modificar {{tipoUsuario}}" />
    <input type="hidden" name="tipo" value="{{ tipoUsuario }}">
    <input type="hidden" name="id" value="{{ id }}">
</form>
{% endblock %}
