{% extends "base.html" %}

{% block titulo %}
<title>Modificar Grupos</title>
{% endblock %}

{% block body %}
<div class="Titulo">
    <h1>Modificar Grupos</h1>
</div>

<form action="modificarGrupo.php?id={{ id }}" method="post" enctype="multipart/form-data">
    Nombre<br> <input type="text" name="nombre" value="{{ nombre }}" required/><br><br>
    <input type="submit" name="submit" value="Modificar grupo" />
    <input type="hidden" name="id" value="{{ id }}">
</form>



<form action="modificarGrupo.php?id={{ id }}" method="post" id="listaPersonas" enctype="multipart/form-data">
    <div class="tituloLista">
        <p>Eliminar miembros</p>
    </div>

    <div class="listaCheckbox">
      {% for elemento in pertenece %}
        <div>
          <input type="checkbox" id="elemento{{ loop.index0 }}" name="elementos[]" value="{{ elemento.idPersona }}">
          <label for="elemento{{ loop.index0 }}"> {{ elemento.nombre }} | {{ elemento.tlfPersona }} </label><br>
        </div>
      {% endfor %}
    </div>
    <input type="hidden" id="eliminacion" name="eliminacion" value=1>
    <div>
        <input type="submit" class="botonEnviar" value="Eliminar personas" />
    </div>
</form>

<form action="modificarGrupo.php?id={{ id }}" method="post" id="listaPersonas" enctype="multipart/form-data">
    <div class="tituloLista">
        <p>Añadir miembro</p>
    </div>

    <div class="listaCheckbox">
      {% for elemento in personas %}
        <div>
          <input type="checkbox" id="elemento{{ loop.index0 }}" name="elementosNuevos[]" value="{{ elemento.idPersona }}">
          <label for="elemento{{ loop.index0 }}"> {{ elemento.nombre }} | {{ elemento.tlfPersona }} </label><br>
        </div>
      {% endfor %}
    </div>
    <input type="hidden" id="adicion" name="adicion" value=1>
    <div>
        <input type="submit" class="botonEnviar" value="Añadir personas" />
    </div>
</form>
{% endblock %}
