{% extends "base.html" %}

{% block titulo %}
<title>Chat</title>
{% endblock %}

{% block preScripts %}
<script type="text/javascript" src="templates/js/peticionesAjax.js"></script>
{% endblock preScripts %}

{% block body %}
<div class="titulo">
    <h1>CHAT PARA {{ titulo }}.</h1>
</div>
<div ></div>
<div id="contenedorMensajes" class="contenedorMensajes">
    {% embed "contenedorMensajes.html" %}{% endembed %}
</div>
<div class="contenedorBotonesSubidaChat">
    <button id="botonCamaraChat" class="reiniciarBoton botonSubidaChat botonCamaraChat">
        <img src="templates/img/cámara de fotos.png" alt="Grabar un vídeo">
    </button>
    <button id="botonMicrofonoChat" class="reiniciarBoton botonSubidaChat botonMicrofonoChat">
        <img src="templates/img/micrófono.png" alt="Grabar un audio">
    </button>
    <button id="botonTextoChat" class="reiniciarBoton botonSubidaChat botonTextoChat">
        <img src="templates/img/escribir.png" alt="Escribir un mensaje">
    </button>
</div>

<textarea id="escribirTextoChat" class="escribirTextoChat" name="mensajeTexto" id="mensajeTexto" rows="3"></textarea>
<button id="enviarMensaje" class="reiniciarBoton enviarMensaje">
    <img src="templates/img/tick.png" alt="Enviar Mensaje">
</button>
<p id="funcionalidadFutura" style="display:none;">Esta funcionalidad se añadirá próximamente</p>
<p id="funcionalidadFutura2" style="display:none;">Esta funcionalidad se añadirá próximamente</p>
{% endblock %}

{% block postScripts %}
<script type="text/javascript" src="templates/js/mostrarChat.js"></script>
{% endblock postScripts %}
