{% extends "principal.html" %}

{% block titulo %}
  <title>Personas - Principal</title>
{% endblock %}

{% block cuerpo %}
<div class="principalPersonas">
  <div class="titulo">
    <h1>PANTALLA PRINCIPAL</h1>
    <h1>Hola {{ nombre }}!</h1>
  </div>

  <div class="botonesPrincipalesUsuario">
    <a href="listaEjercicios.php"p pss="button"><p>EJERCICIOS</p><img src="./templates/img/ejercicio.png"/></a>
  </div>

  <div class="botonSalirUsuario">
    <p>ADIÓS</p>
    <form action="principalPersonas.php" method="post" id="loginPersonas" enctype="multipart/form-data">
      <input type="image" src="templates/img/adiós.png" class="botonSalir" name="salir" value="ADIÓS"/>
      <input name="cerrarSesion" type="hidden" value=1 ></input>
    </form>
  </div>
</div>
{% endblock %}
