<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profesores - Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
  </head>

  <body>
    <div class="principalProfesores">
      <div class="Titulo">
        <h1>Página principal facilitadores</h1>
      </div>

      <div class="botonesPrincipales">
        <a href="crearEjercicio.php" class="button">CREAR EJERCICIO</a>
        <a href="crearGrupo.php" class="button">CREAR GRUPO</a>
        <a href="chat_PlaceHolder.php" cclass="button">CHATS</a>
      </div>

      <div class="botonSalir">
        <a href="loginFacilitadorAd_PlaceHolder.php" class="button">SALIR</a>
      </div>
    </div>
  </body>
</html>
