<!DOCTYPE html>
<html>
<title>Principal VALE</title>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="principal">

    <div class=division>
      <img src="./img/descarga.png" alt="Logo VALE">
    </div>

    <div class=division>
      <button>
        <div style="text-align:center">
          <img src="./img/descarga.png" alt="Logo VALE">
          <br>
          <span>Entrar</span>
        </div>
      </button>
    </div>

    <div class=division>
      <button>
        <div style="text-align:center">
          <span>Facilitadores y Administración</span>
        </div>
      </button>
    </div>

  </div>

</body>
</html>
