
<html>
  <head>
    <link rel="stylesheet" href="estilo.css">
    <script type="text/javascript" src="styles/script.js"></script>
  </head>
  <body>

  <div class="titulo">
    <h1>PANTALLA PRINCIPAL</h1>
  </div>
  <div class="botonesPrincipalesUsuario">
    <a href="index.php"
    class="button"><p>EJERCICIOS</p><img src="ejercicio.png"/></a>
  </div>
  <div class="botonSalirUsuario">
    <a href="index.php"
    class="button"><p>ADIÓS</p><img src="adiós.png"/></a>
  </div>




  </body>
</html>
