<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profesores - Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src="styles/script.js"></script>
  </head>

  <body>
    <div class="principalProfesores">
      <div class="logo">
        <img src="./img/logo.jpeg"/>
      </div>

      <div class="botonesPrincipales">
        <a href="crearEjercicio.html" class="button">CREAR EJERCICIO</a>
        <a href="crearGrupo.html" class="button">CREAR GRUPO</a>
        <a href="chat_PlaceHolder.html" cclass="button">CHATS</a>
      </div>

      <div class="botonSalir">
        <a href="loginFacilitadorAd_PlaceHolder.html" class="button">SALIR</a>
      </div>
    </div>
  </body>
</html>
