<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Principal VALE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
  </head>

  <body>
    <div class="principal">
      <div class="logo">
        <img src="./templates/img/logo.jpeg" alt="Logo VALE">
      </div>

      <div class="botonesPrincipalesUsuario">
          <a href="loginPersonas_PlaceHolder.php" class="button"><p>PERSONAS</p><img src="./templates/img/ejercicio.png"/></a>
      </div>

      <div class="botonInicial">
        <a href="loginAdministrador_PlaceHolder.php" class="button"><p>Administración</p></a>
      </div>

      <div class="botonInicial">
        <a href="loginFacilitador_PlaceHolder.php" class="button"><p>Facilitadores</p></a>
      </div>
    </div>
  </body>
</html>
