<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administración - Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
  </head>

  <body>
    <div class="principalAdministracion">
      <div class="Titulo">
        <h1>Página principal administrador</h1>
      </div>

      <div class="botonesPrincipales">
        <a href="registrarFacilitador_PlaceHolder.php" class="button">GESTIONAR FACILITADORES</a>
        <a href="registrarPersona_PlaceHolder.php" class="button">GESTIONAR<br> PERSONAS</a>
        <a href="registrarAdmin_PlaceHolder.php" class="button">GESTIONAR ADMINISTRADORES</a>
      </div>

      <div class="botonSalir">
        <a href="loginFacilitadorAd_PlaceHolder.php?salir=1" class="button">SALIR</a>
      </div>
    </div>
  </body>
</html>
