
<html>
  <head>
    <link rel="stylesheet" href="estilo.css">
    <script type="text/javascript" src="styles/script.js"></script>
  </head>
  <body>
  <div class="logo">
    <img src="logo.jpeg"/>
  </div>

  <div class="botonesPrincipales">
    <a href="index.php"
    class="button">CREAR EJERCICIO</a>
    <a href="index.php"
    class="button">CREAR GRUPO</a>
    <a href="index.php"
    class="button">CHATS</a>
  </div>
  <div class="botonSalir">
    <a href="index.php"
    class="button">SALIR</a>
  </div>




  </body>
</html>
