<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administración - Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src="styles/script.js"></script>
  </head>

  <body>
    <div class="principalAdministracion">
      <div class="logo">
        <img src="./img/logo.jpeg"/>
      </div>
  
      <div class="botonesPrincipales">
        <a href="index.php" class="button">GESTIONAR FACILITADORES</a>
        <a href="index.php" class="button">GESTIONAR<br> PERSONAS</a>
        <a href="index.php" class="button">GESTIONAR ADMINISTRADORES</a>
      </div>
  
      <div class="botonSalir">
        <a href="index.php" class="button">SALIR</a>
      </div>
    </div>
  </body>
</html>