<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personas - Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/styles.css">
  </head>

  <body>
    <div class="principalPersonas">
      <div class="titulo">
        <h1>PANTALLA PRINCIPAL</h1>
      </div>

      <div class="botonesPrincipalesUsuario">
        <a href="listaEjercicios_PlaceHolder.php"p pss="button"><p>EJERCICIOS</p><img src="./templates/img/ejercicio.png"/></a>
      </div>

      <div class="botonSalirUsuario">
        <a href="loginPersonas.php" class="button"><p>ADIÓS</p><img src="./templates/img/adiós.png"/></a>
      </div>
    </div>
  </body>
</html>
