{% extends "base.html" %}

{% block titulo %}
<title>Registrar {{ tipoUsuario }}</title>
{% endblock %}

{% block divClass %}
<div class="loginFacilitador">
{% endblock %}

{% block body %}
<div class="Titulo">
    <h1>Registrar {{ tipoUsuario }}</h1>
</div>

<form action="principalAdmin.php" name="registrar" method="post" id="loginFacilitador" enctype="multipart/form-data">
    <label for="usuario"><strong>Nombre:</strong></label><br>
    <input type="text" name="usuario" required/><br><br>

    <label  for="contraseña"><strong>Contraseña:</strong></label><br>
    {% if tipoUsuario == 'Persona' %}
        <input type="password" name="contraseña" maxlength="3" required/><br><br>
    {% else %}
        <input type="password" name="contraseña" required/><br><br>
    {% endif %}

    <label for="telefono"><strong>Nombre:</strong></label><br>
    <input type="text" name="telefono" required/><br><br>

    <input name="registrar" type="hidden" value= {{ tipoUsuario }} ></input>
    <input name="submit" type="submit" value="REGISTRAR {{ tipoUsuario|upper }}" />
</form>
{% endblock %}